html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #111;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#snowflakes {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.left-panel, .right-panel {
    position: relative;
    z-index: 2;
}

.left-panel {
    width: 45%;
    padding: 20px;
    overflow-y: scroll;
}

.right-panel {
    width: 45%;
    height: 19%;
    padding: 20px;
    overflow-y: scroll;
}

.left-panel::-webkit-scrollbar,
.right-panel::-webkit-scrollbar {
    display: none;
}

.left-panel {
    scrollbar-width: none;
}

.right-panel {
    scrollbar-width: none;
}

.creation {
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.creation:hover {
    transform: translateY(-5px);
}

.creation h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.left-panel p {
    font-size: 1rem;
    margin-top: 10px;
}

.right-panel {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.right-panel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.right-panel p {
    font-size: 1.2rem;
    line-height: 1.6;
}

button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #555;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0.8;
    }
}
